// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Poppins', sans-serif;
$font-size: 0.9rem;
$line-height: 1.1;

// Color
$color-main: #62abea;
$color-main-dark: #5ca0da;
$color-text: #454545;
$color-grey: #a9a9a9;
$color-danger: #dc3545;
$color-success: #28a745;
$color-primary: #007bff;
$color-border: #dee2e6;